@font-face {
    font-family: helvatica;
    src: url(./ASSESTS/Helvetica.ttf);
}

@font-face {
    font-family: times;
    src: url(./ASSESTS/Times\ New\ Roman\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    
}
/* body::-webkit-scrollbar-thumb{
    height: px;
} */

#main {
    width: 100%;
    /* height: 100%; */
    background-color: rgb(19, 15, 15);
    position: relative;

}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 25px 100px 0px 100px;
}

nav {
    width: 100%;
    height: 9.4vh;
    /* background-color: blue; */
    border-bottom: 0.89px solid rgba(227, 224, 224, 0.503);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lft-elm {
    width: 15vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

#logos {
    width: 6.1vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./ASSESTS/LOGOS/LOGO.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hiring-btn {
    width: 6.4vw;
    height: 37.7%;
    background-color: #EDDED5;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.hiring-btn h2 {
    font-size: 1vw;
    font-family: Times New Roman;
    font-weight: 300;

}

#rgt-elm {
    width: 45vw;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
    padding: 20px;
}

.links {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-size: 16px;
    display: flex;
    gap: 40px;
}

.links a {
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-family: times;
}

.links :nth-child(6) {
    display: flex;
    gap: 3px;
}

.links .cart-num {
    background-color: #EDDED5;
    border-radius: 50%;
    width: 1.3vw;
    height: 1.3vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.links .cart-num h3 {
    font-weight: 300;
}

.get-in-touch-btn {
    width: 7.6vw;
    height: 2.8vw;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 10px;
}

.get-in-touch-btn h2 {
    font-weight: 300;
    font-size: 16px;
}
.get-in-touch-btn:hover{
    background-color: #000;
    color: #fff;
}

.links a {
    position: relative;
}

.links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1.5px;
    background-color: #000;
    transition: width 0.3s ease;

}

.links a:hover::after {
    width: 100%;
}

#hero-elm {
    width: 100%;
    height: 50%;
    /* background-color: red; */
    margin-top: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;



}

#hero-elm h1 {
    font-family: helvatica;
    font-size: 6.5vw;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 6.7vw;
}

#hero-elm h4 {
    font-family: times;
    font-size: 21.48px;
    font-weight: 300;
    line-height: 30px;
}

.services {
    width: 10vw;
    height: 4.1vw;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.services h2 {
    font-family: helvatica;
    font-size: 1.1vw;
    color: #f0eded;
    font-weight: 420;
}

.services:hover h2 {
    color: #ffff;
}

#page2 {
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 100px 0px 100px;

}


.moving-bar {
    width: 100%;
    height: 9vw;
    /* background-color: blue; */

    display: flex;
    align-items: center;
    overflow: hidden;

    position: relative;
    white-space: nowrap;
}


.bar-track {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 110px;
    padding-right: 110px;
    /* background-color: red; */
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.bar-icon {
    height: 100%;
    flex-shrink: 0;
}


.bar1 {
    width: 5.7vw;
    background-image: url(./ASSESTS/LOGOS/LOGO-HALF.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bar2 {
    width: 6.5vw;
    background-image: url(./ASSESTS/LOGOS/LOGO2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bar3 {
    width: 3.0vw;
    background-image: url(./ASSESTS/LOGOS/LOGO3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bar4 {
    width: 12.0vw;
    background-image: url(./ASSESTS/LOGOS/LOGO4.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bar5 {
    width: 11.3vw;
    background-image: url(./ASSESTS/LOGOS/LOGO5.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bar6 {
    width: 14.2vw;
    background-image: url(./ASSESTS/LOGOS/LOGO6.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
        
    }
}
#card-box{
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 1vw;
}
.card{
    width: 25%;
    height: 100%;
    background-color: #F4F4F5;
    padding: 50px;
}
.card h1{
    font-family: times;
    font-size: 25.776px;
    font-weight: 300;

}
.card h3{
    font-family: times;
    font-size: 17.5px;
    line-height: 25px;
    font-weight: 300;
    color: #636363;
    margin-top: 1.6vw;
    margin-bottom: 1.6vw;
}
.card a{
   /* font-family: times; */
    /* font-size: 15px; */
    /* line-height: 25px; */
    /* font-weight: 300; */
    color: #101010;
    /* margin-top: 1.6vw; */
    position: relative;
    

   
}

#page3{
    width: 100%;
    height: 183vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 100px 0px 100px;
}
.our-work h3{
    font-family: times;
    font-size: 13px;
    font-weight: 300;
}
.pg3-bar{
    width: 100%;
    height: 11vw;
    /* background-color: blue; */
    margin-top: 1.7vw;
    display: flex;
    align-items: center;justify-content: space-between;
    border-top:1.4px solid rgba(227, 224, 224, 0.503);

}
.pg3-bar h1{
    font-family: times;
    font-size: 52px;
    font-weight: 300;
}
.all-wrk{
    width: 7vw;
    height: 3vw;
    /* background-color: magenta; */
    border-radius: 20px;
    border: 1px solid black;
    display: flex;   
    align-items: center;
    justify-content: center;

}
.all-wrk h2{
    font-family: times;
    font-size: 14px;
    font-weight: 400;
}
.all-wrk:hover{
    background-color: #000;
    color: #FFFFFF;
}
#product{
    width: 100%;
    height: 140vh;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.pro-crd{
    width: 49%;
    height: 70vh;
    /* background-color: yellow; */
    flex-shrink: 0;
    position: relative;
}
.pro-img{
    width: 100%;
    height: 63vh;
    /* background-color: aqua; */
    overflow: hidden;
   
    
}
.pro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
   

}
.pro-bar{
    width: 100%;
    height: 7vh;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-bar h2{
    font-family: times;
    font-size: 20px;
    font-weight: 300;
}
.pro-img:hover img{
   transform: scale(1.2);
   
}

.pro-btn{
        width: 6vw;
    height: 2vw;
    
    /* background-color: rgb(7, 7, 7); */
    border-radius: 20px;
    border: 1px solid black;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.pbt{
    width: 7vw;
    /* background-color: #101010; */
}
.pro-btn h3{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
}
.pro-btn:hover{
    background-color: #000;
    color: #FFFFFF;
}
#page4{
    width: 100%;
    height: 235vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 100px 0px 100px;
    position: relative;
}
.our-values h3{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
    
}
.pg4-card{
    width: 100%;
    height: 60vh;
    /* background-color: aqua; */
    margin-top: 20px;
    border-top:1.4px solid rgba(227, 224, 224, 0.503);
    padding: 70px 0px 0px 0px;
    display: flex;
    gap: 3%;
    justify-content: flex-start;


}
.pg4-crd{
    width: 22.76%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    justify-content: space-between;
    flex-shrink: 0;
    /* justify-content: center; */
}
.pcrd2 h3{
 font-family: times;
 font-size: 14px;
 font-weight: 300;
 text-transform: uppercase;
 line-height: 20px;
}
.pcrd3 h3{
 font-family: times;
 font-size: 14px;
 font-weight: 300;
 text-transform: uppercase;
 line-height: 20px;
}
.pcrd2 h1{
 font-family: times;
 font-size: 20px;
 font-weight: 300;
 text-transform: uppercase;
 line-height: 25px;
}
.pcrd3 h1{
 font-family: times;
 font-size: 20px;
 font-weight: 300;
 text-transform: uppercase;
 line-height: 25px;
}
.pcrd2{
    background-color: #F1F6F5;
}
.pcrd3{
    background-color: #F8F8F8;
}
.pcrd1{
    background-color: #F1F5F9;
}
.pcrd1 h4{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
}
.pcrd1 h2{
    font-family: times;
    font-size: 22px;
    font-weight: 300;
    margin-top: -7vw;
    line-height: 30px;
}
.abt-oliv{
    width: 10vw;
    height: 3.7vw;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abt-oliv h3{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
}
.abt-oliv h3 i{
    font-size: 1vw;
}

.pg2 .pg4-card{
   margin-left: 90px;
   
   
}

.pg2{
    justify-content: flex-end;
    border-top: none;
    /* background-color: aqua; */
    padding: 30px 0px 0px 0px;
}

.pg2 .pcrd2{
    background-color:#F8EDE3 ;
}
.pg2 .pcrd2 h1{
     font-size: 24px;
   
}

.pg2 .pcrd3{
    background-color:#FFFAE7;
}
.pg2 .pcrd1{
    background-color: #F8F8F8;
    justify-content: space-between;
}
.pg2 .pcrd1 h4{
   text-transform: uppercase;
   font-size: 15px;
   white-space: nowrap;
}
.pg2 .pcrd1 h2{
     font-size: 24px;
   
}

#pgtxt{
    width: 42vw;
    height: 70vh;
    /* background-color: red; */
    position: absolute;
    top: 145vh;
    left: 50%;
    transform: translate(-50%,0%);
}
.txt-hero{
    width: 100%;
    height: 28vh;
    /* background-color: hotpink; */
}
.txt-hero h1{
    font-family: times;
    font-weight: 300;
    font-size: 45.824px;
    line-height: 55px;
    
}
.txt-para{
    width: 100%;
    height: 42vh;
    /* background-color: rgb(94, 193, 104); */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.txt-para p{
    font-family: times;
    font-size: 17px;
    color: #3b3b3b;
    width: 20vw;
    line-height: 29px;
}
#page5{
    width: 100%;
    height: 108vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 100px 0px 100px;
}
.our-team h3{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
}
.pg3-bar h1{
    font-size: 47px;
}
#product-pg-5{
    width: 100%;
    height: 65vh;
    /* background-color: red; */
    display: flex;
    gap: 3%;

}
.pro-pg5-crd{
    width: 23%;
    height: 100%;
    background-color: #ffffff;
}
.pro-pg5-img{
    width: 100%;
    height: 55vh;
    /* background-color: yellowgreen; */
    position: relative;
    overflow: hidden;
}
.pro-pg5-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-pg5-btn{
        width: 5.7vw;
    height: 2.1vw;
    
    /* background-color: rgb(7, 7, 7); */
    border-radius: 20px;
    border: 1px solid black;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.pro-pg5-btn h3{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
}
.pro-pg5-btn:hover{
    background-color: #000;
    color: #FFFFFF;
}
.pro-pg5-bar h2{
    font-family: times;
    font-size: 20px;
    font-weight: 300;
}
.abt-oliv{
    width: 8.5vw;
    height: 3.5vw;
    /* background-color: magenta; */
    border-radius: 25px;
    border: 1px solid black;
    display: flex;   
    align-items: center;
    justify-content: center;
    margin-top: 45px;

}
.abt-oliv h2{
    font-family: times;
    font-size: 14px;
    font-weight: 400;
}
.p5crd1{
    display: flex;
   align-items: flex-start;
   flex-direction: column;
   padding: 55px;
   /* justify-content: space-between; */
   gap: 25px;
   background-color: #F1F6F5;
}
.p5crd1 h3{
        font-family: times;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.p5crd1 h1{
        font-family: times;
    font-size: 30px;
    font-weight: 300;
   
}
.p5crd1 h4{
        font-family: times;
    font-size: 14px;
    font-weight: 300;
    /* text-transform: uppercase; */
    color: #717171;
    line-height: 25px;
}
.pro-pg5-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
   

}
.options{
    width: 100%;
    height: 4vw;
    /* background-color: red; */
    position: absolute;
    bottom: -20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0px 20px 0px 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.op{
    width: 3vw;
    height: 3vw;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;



}
.op i{
    color: #fff;
}
.pro-pg5-img:hover .options{
    bottom: 1%;
}

#page6{
    width: 100%;
    height: 110vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.p6para{
    width: 70%;
    height: 52vh;
    /* background-color: red; */
    display: flex;
    gap: 115px;
    border-bottom:1.6px solid rgba(227, 224, 224, 0.548);


}
.p6paraleft{
    width: 11vw;
    height: 6vw;
    /* background-color: rgb(93, 80, 80); */
    
}
.p6pararight{
    width: 73%;
    height: 100%;
    /* background-color: rgb(93, 80, 80); */
    /* background-color: darkkhaki; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 0px 80px 0px;
}
.plogo{
    width: 100%;
    height: 100%;
    background-image: url(./ASSESTS/LOGOS/LOGO6.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat    ;
}
.p6pararight h1{
    font-family: times;
    font-size: 28.7px;
    font-weight: 300;
    line-height: 35px;
}
.p6pararight p{
    font-family: times;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    /* width: 80%; */
}
.clone{
    margin-top: 80px;
    border-bottom: none;
}
.clnp6{
    background-image: url(./ASSESTS/LOGOS/LOGO4.svg);
}
#page7{
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 80px 100px 30px 100px;
}
.mid{
    width: 100%;
    height: 90%;
    background-color: #F1F6F5;
    padding: 100px;
    display: flex;
    align-items: flex-start;
    gap: 200px;
}
.lmid h3{
    font-family: times;
    font-size: 15px ;
    font-weight: 300;
}
.rmid{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.rmid h1{
     font-family: times;
    font-size: 57.28px ;
    font-weight: 300;
    line-height: 75px;
}
.rmid h4{
     font-family: times;
    font-size: 24px ;
    font-weight: 300;
    line-height: 35px;
}
.git{
    width: 11.8vw;
    height: 3.7vw;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.git h3{
    font-family: times;
    font-size: 14px;
    font-weight: 300;
}
.git h3 i{
    font-size: 1vw;
}
#page8{
    width: 100%;
    height: 155vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0px 100px 0px 100px;
}
.blog h3{
    font-family: times;
    font-size: 15px;
    font-weight: 300;
}
.p8crd{
    width: 100%;
    height: 55vh;
    /* background-color: brown; */
    display: flex;
    gap: 3%;
}
.p8cd{
    width: 24%;
    height: 100%;
    /* background-color: #ffffff; */
}
.cd-img{
 width: 100%;
 height: 42vh;
 overflow: hidden;
}
.cd-img:hover img{
 transform: scale(1.2);
}
.p8crd h1{
     font-family: times;
    font-size: 20px;
    font-weight: 300;
    margin-top: 1vw;
}
.p8crd h4{
     font-family: times;
    font-size: 15px;
    font-weight: 300;
    margin-top: 1.5vw;
}
.p8cd img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#lst-card{
    width: 100%;
    height: 57vh;
    /* background-color: #717171; */
    margin-top: 50px;
    padding: 0px 0px 100px 0px ;
    display: flex;
    gap: 3%;
}
.lcrd{
    width: 24%;
    height: 100%;
    /* background-color: blueviolet; */
    /* padding: 10px 0px 0px 0px; */

}
.lcrd h1{
      font-family: times;
    font-size: 18.5px;
    font-weight: 300;
    border-bottom: 1px solid rgba(156, 153, 153, 0.295);
    /* margin-bottom: 1vw; */
    padding:15px 0px;

}
.lst-link{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-decoration: none;
    color: #101010;
    margin-top: 30px;
}
.lst-link a{
     text-decoration: none;
    color: #101010;
    font-family: times;
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: fit-contentj;
}
.more-tmp{
    width: 11.05vw;
    height: 3.6vw;
    border-radius: 30px;
    background-color: #000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}
.more-tmp h2{
      font-family: times;
    font-size: 15px;
    font-weight: 300;
}
.l-oliv-icon{
    width: 6vw;
    height: 4vw;
    background-image: url(./ASSESTS/LOGOS/LOGO.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.social-logo{
    width: 10vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    /* background-color: brown; */
}
 .sl{width: 2.5vw;
    height: 2.5vw;
    background-color: #F0F8FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
 .sl i{
       color: #000;
 }
 .lstnav{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid  rgba(156, 153, 153, 0.295) ;
 }
 .lstnav h2{
       font-family: times;
    font-size: 14px;
    font-weight: 300;
    color: #9F9FB1;
 }
 .lstnav span{
    border-bottom: 1px solid black;
    color: #000;
 }

 .rlstnav{
    display: flex;
    gap: 40px;
 }
 .rlstnav h2{
     font-family: times;
    font-size: 14px;
    font-weight: 300;
    color: #9F9FB1;
 }
 .lst-link a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1.5px;
    background-color: #000;
    transition: width 0.3s ease;

}

 .lst-link a:hover::after {
    width: 100%;
}
.lst-link a{
    display: inline-block;
    width: fit-content;
}